@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", Arial;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  max-width: 1440px;
  align-items: center;
  margin: auto;
  background-color: #0a0019;
}

/* Navbar */
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(10, 0, 25, 0.95);
  padding: clamp(0.75rem, 0.179rem + 1.19vw, 1.25rem)
    clamp(3rem, -4.143rem + 35.714vw, 28rem);
  border-bottom: 1px solid rgba(0, 255, 255, 0.6);
  position: fixed;
  top: 0;
  z-index: 10;
}
.nav-link {
  font-size: clamp(0.625rem, 0.554rem + 0.357vw, 0.875rem);
  text-decoration: none;
  color: rgba(0, 255, 255, 0.6);
}
.nav-link:hover {
  text-shadow: 0 0 5px rgba(0, 255, 255, 0.7);
}

/*About Section*/
#about {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: clamp(3rem, 2.571rem + 2.143vw, 4.5rem) 0
    clamp(1rem, 0.857rem + 0.714vw, 1.5rem) 0;
  overflow: hidden;
}
.about-left {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 0.643rem + 1.786vw, 2.25rem);
  padding: clamp(0.75rem, 0.179rem + 1.19vw, 1.25rem);
}
.text-about {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}
#about h2 {
  color: #fff;
}
#about h2 span {
  color: rgba(0, 255, 255, 0.8);
}
#about p {
  color: #fff;
  font-size: clamp(0.625rem, 0.554rem + 0.357vw, 0.875rem);
  line-height: clamp(0.75rem, 0.679rem + 0.357vw, 1rem);
  width: clamp(15rem, 6.2rem + 33vw, 30rem);
}
.languages {
  font-weight: 600;
  color: rgba(0, 255, 255, 0.8);
}
.about-img {
  display: block;
  width: clamp(16.25rem, 14.643rem + 8.036vw, 21.875rem);
  height: auto;
  mask-image: radial-gradient(circle, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 90%);
}

/*Skills Section*/
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(0.75rem, 0.393rem + 1.786vw, 2rem);
  margin: clamp(1rem, 0.857rem + 0.714vw, 1.5rem) 0
    clamp(1rem, 0.714rem + 1.429vw, 2rem) 0;
}
h3 {
  color: #fff;
  font-size: clamp(0.75rem, 0.536rem + 1.071vw, 1.5rem);
}
.skills {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: clamp(16px, 2vw, 2%);
  justify-content: center;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(0.25rem, 0.179rem + 0.357vw, 0.5rem);
  border-radius: 0.375rem;
  padding: clamp(0.5rem, 0.357rem + 0.714vw, 1rem)
    clamp(0.75rem, 0.536rem + 1.071vw, 1.5rem);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
}
.skill:hover {
  transform: scale(1.03);
  box-shadow: 0 0 0 1px rgba(0, 255, 255, 0.4),
    0 6px 20px rgba(0, 255, 255, 0.2), 0 12px 28px rgba(0, 255, 255, 0.15);
}

.skill .fa-brands {
  font-size: clamp(1.5rem, 1.393rem + 0.536vw, 1.875rem);
}
.fa-html5 {
  color: #e34c26;
}
.fa-css3-alt {
  color: #264de4;
}
.fa-js {
  color: #f0db4f;
}
.skill h4 {
  color: #fff;
  font-size: clamp(0.75rem, 0.607rem + 0.714vw, 1.25rem);
  cursor: default;
}

/* Projects Section */
#projects {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(0.75rem, 0.393rem + 1.786vw, 2rem);
  margin: clamp(1rem, 0.714rem + 1.429vw, 2rem) 0
    clamp(3rem, 2.143rem + 4.286vw, 6rem) 0;
}
.projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 200px));
  justify-content: center;
  gap: clamp(0.75rem, 0.393rem + 1.786vw, 2rem);
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 200px;
  height: 164px;
  perspective: 1000px;
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease;
  cursor: pointer;
}
.project:hover {
  transform: scale(1.03);
  box-shadow: 0 0 0 1px rgba(0, 255, 255, 0.4),
    0 6px 20px rgba(0, 255, 255, 0.2), 0 12px 28px rgba(0, 255, 255, 0.15);
}

.project .front,
.project .back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 0.429rem + 0.357vw, 0.75rem);
  backface-visibility: hidden;
  transition: transform 0.6s;
  border-radius: 0.5rem;
  background-color: #0a0019;
  padding: clamp(0.25rem, 0.179rem + 0.357vw, 0.5rem);
  overflow-y: auto;
  scrollbar-width: none;
}
.project .front {
  transform: rotateY(0deg);
  z-index: 2;
}
.project .back {
  transform: rotateY(180deg);
  z-index: 1;
}
.project.flip .front {
  transform: rotateY(-180deg);
}
.project.flip .back {
  transform: rotateY(0deg);
  z-index: 2;
}

.project .front img {
  width: 100%;
  max-width: 200px;
  display: block;
  border-radius: 0.75rem 0.75rem 0 0;
}

.project h4 {
  color: #fff;
  font-size: 0.75rem;
}
.project p {
  color: #fff;
  font-size: clamp(0.5rem, 0.429rem + 0.357vw, 0.75rem);
  line-height: clamp(0.625rem, 0.554rem + 0.357vw, 0.875rem);
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 8px;
  margin-top: 6px;
}
.links a {
  color: #0a0019;
  text-decoration: none;
}

/*Contact Section*/
#contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(10, 0, 25, 0.95);
  padding: clamp(0.75rem, 0.179rem + 1.19vw, 1.25rem)
    clamp(0.75rem, -1.321rem + 10.357vw, 8rem);
  border-top: 1px solid rgba(0, 255, 255, 0.2);
  position: fixed;
  bottom: 0;
}
.contact-btn {
  background-color: rgba(0, 255, 255, 0.8);
  color: #0a0019;
  font-size: clamp(0.75rem, 0.679rem + 0.357vw, 1rem);
  font-weight: 500;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
}
.contact-links {
  display: flex;
  align-items: center;
  gap: clamp(1rem, 0.714rem + 1.429vw, 2rem);
}
.contact-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: clamp(1.25rem, 1.179rem + 0.357vw, 1.5rem);
  width: clamp(1.25rem, 1.179rem + 0.357vw, 1.5rem);
}
.contact-links a .fa-brands {
  color: rgba(0, 255, 255, 0.8);
  font-size: clamp(1.25rem, 1.179rem + 0.357vw, 1.5rem);
}

/* Responsiveness */
@media screen and (width < 731px) {
  .about-right {
    order: -1;
  }
  .about-left {
    align-items: center;
  }
  .text-about h2,
  p {
    width: 100%;
    text-align: center;
  }

  #projects {
    margin-bottom: 5rem;
  }
}

@media screen and (width < 681px) {
  .text-about {
    align-items: center;
    text-align: center;
  }
}
